<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Modelo App Node </title>
    <link rel="stylesheet" href="css/estilo.css">
    <script src="js/script.js"></script>
</head>

<body>
   <form action="/salvar-img" method="post" enctype="multipart/form-data" class="upload-form"> 
        <label for="img">Escolah a sua imagem:</label>
        <input type="file" name="img" id="img">
        <button type="submit">Enviar</button>
        <img src="imagens/preview.png" id="img-preview" class="preview-img" alt="preview da imagem">
   </form>

    <section class="grid-container">
        <%
            if(listaImagens && listaImagens.length > 0){
                listaImagens.forEach((imagem)=>{
                    %>
                    <article class="grid-item"><img src="imagens/galeria-prod/<%=imagem%>" alt="Imagem 1"></article>

                    <%
                })
                
            }else{
                %>
                <div>
                    <h2>Não há imagens na pasta!</h2>
                    <h3>Use o formulário acima para carregar um imagem.</h3>
                </div>
                    <%
            }
        %>

    </section>
</body>

</html>