<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Modelo App Node </title>
    <link rel="stylesheet" href="css/estilo.css">
</head>

<body>
   <form action="/salvar-img" method="post" enctype="application/x-www-form-urlencoded" class="upload-form"> 
        <label for="img">Escolah a sua imagem:</label>j
        <input type="file" name="img" id="img">
        <button type="submit">Enviar</button>
        <img src="imagens/preview.png" class="preview-img" alt="preview da imagem">
   </form>

    <section class="grid-container">
        <article class="grid-item"><img src="imagens/galeria-prod/add foto.png" alt="Imagem 1"></article>
        <article class="grid-item"><img src="imagens/galeria-prod/add foto.png" alt="Imagem 2"></article>
        <article class="grid-item"><img src="imagens/galeria-prod/add foto.png" alt="Imagem 3"></article>
        <article class="grid-item"><img src="imagens/galeria-prod/add foto.png" alt="Imagem 4"></article>
        <article class="grid-item"><img src="imagens/galeria-prod/add foto.png" alt="Imagem 5"></article>
        <article class="grid-item"><img src="imagens/galeria-prod/add foto.png" alt="Imagem 6"></article>
        <article class="grid-item"><img src="imagens/galeria-prod/add foto.png" alt="Imagem 7"></article>
        <article class="grid-item"><img src="imagens/galeria-prod/add foto.png" alt="Imagem 8"></article>
    </section>
</body>

</html>